<!DOCTYPE html>
<html lang="en" class="sr">

<style>
html, body {height: 100%; margin: 10; padding: 10; font-family: arial;}
a {text-decoration:none; color: black;}
ul {text-align: left !important; margin-left: 25%;}
hr {align: center; width: 75%; margin-top: 60px; margin-bottom: 30px;}
.highlight {color: #e79fc4}
.about-div {width: 100%;}
.projects-div {width: 100%; height: 40%}
.experience-div {width: 100%; height: 25%}
.qualifications-div {width: 100%; height: 30%}
.projects-wrappers, .experience-wrappers, .qualifications-wrappers {width: 100%; height: 50%;}
.projects-element, .experience-element, .qualifications-element {float: left; width: 30%; padding-left: 1%; text-align: center;} 
</style>

<head>
    <title> Jake Fawcett | About </title>
    
</head>

<body>
    <div class="about-div">
        <h1 class="highlight">Me</h1>
        <p><b> I'm an Azure Platform Engineer currently working on a Data Platform while working at BJSS. </b></p>
        <p><b></b> I have a background in Computer Science and Software development (Python, Javascript) but have more recently been pursuing my interest in the Cloud, DevOps, Networking and Security! </b></p>
    </div>
    <hr />

    <div class="projects-div">
        <h1 class="highlight">Projects</h1>

        <div class='projects-wrappers'>
            <div class='projects-element'>
                <h3 class="highlight">Rust Web Server (this site!)</h3>
                <p>Simple dockerized Rust Axum web server, pushed to Github Container Registry with Github actions.</p>
                <a href="https://github.com/jake-fawcett/rust-web-sever">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    Github
                </a>
                <br />
                <a href="https://jakef.dev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                        <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    jakef.dev
                </a>
            </div>
            <div class='projects-element'>
                <h3 class="highlight">Platform Tetris</h3>
                <p>Tetris leaderboard Azure Web app developed using Python and Bicep and deployed via Azure Pipelines.</p>
                <a href="https://github.com/jake-fawcett/Platform-Tetris">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    Github
                </a>
                <br />
                <a href="https://tetris.jakef.dev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                        <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    tetris.jakef.dev
                </a>
            </div>
            <div class='projects-element'>
                <h3 class="highlight">Advent of Code</h3>
                <p>Advent of Code projects.</p>
                <a href="https://github.com/jake-fawcett/advent-of-code-2022">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    Github - 2022 - Golang (deployed to Azure Web app via Terraform)
                </a>
                <br />
                <a href="https://github.com/jake-fawcett/advent-of-code-2021">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    Github - 2021 - Python
                </a>
            </div>
        </div>
        
        <div class='projects-wrappers'>
            <div class='projects-element'>
                <h3 class="highlight">Neural Networks (CNN and RNN) for DDoS Detection</h3>
                <p>Jupyter Notebooks and Report for Disseration of detecting DDoS attacks using Neural Networks.</p>
                <a href="https://github.com/jake-fawcett/NN-for-DDoS">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    Github
                </a>
            </div>
            <div class='projects-element'>
                <h3 class="highlight">Pre-commit Hooks</h3>
                <p>Pre-commit Hooks for Azure Projects.</p>
                <a href="https://github.com/jake-fawcett/azure-pre-commit-hooks">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    Github
                </a>
            </div>
            <div class='projects-element'>
                <h3 class="highlight">Azure Bicep Modules</h3>
                <p>Bicep Modules for Azure Projects, designed to be referenced using git submodules. To be expanded.</p>
                <a href="https://github.com/jake-fawcett/bicep-modules">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    Github
                </a>
            </div>
        </div>
    </div>
    <hr />

    <div class="experience-div">
        <h1 class="highlight">Experience</h1>

        <div class='experience-wrappers'>
            <div class='experience-element'>
                <h3> BJSS - <span class="highlight">Azure Platform Engineer</span> </h3>
                <ul>
                    <li>Microsoft IaC (ARM, Bicep)</li>
                    <li>Azure DevOps + Pipelines</li>
                    <li>Python and Bash Scripting</li>
                </ul>
            </div>
            <div class='experience-element'>
                <h3> Versed AI - <span class="highlight">Software Engineer</span></h3>
                <ul>
                    <li>Python Development</li>
                    <li>Data Engineering</li>
                    <li>Data Annotation</li>
                    <li>Scraping and Automation</li>
                    <li>UI Design</li>
                </ul>
            </div>
            <div class='experience-element'>
                <h3> Amadeus - <span class="highlight">Software Engineer Intern</span></h3>
                <ul>
                    <li>Python Development</li>
                    <li>Angular (Javascript) Development</li>
                    <li>UI Design</li>
                </ul>
            </div>
        </div>
    </div>
    <hr />

    <div class="qualifications-div">
        <h1 class="highlight">Qualifications and Certifications</h1>

        <div class='qualifications-wrappers'>
            <div class='qualifications-element'>
                <img src="assets/york.jpg" alt="UoY" width="150" height="150">
                <p>University of York - 1st Class BEng in Computer Science</p>
                <p></p>
            </div>
            <div class='qualifications-element'>
                <img src="assets/azure-administrator-associate.png" alt="Azure Administrator" width="150" height="150">
                <p>Azure Administrator Associate</p>
            </div>
            <div class='qualifications-element'>
                <img src="assets/aws-cloud-practitioner.png" alt="AWS Practitioner" width="150" height="150">
                <p>AWS Certified Cloud Practitioner</p>
            </div>
        </div>
        
        <div class='qualifications-wrappers'>
            <div class='qualifications-element'>
                <img src="assets/azure-security-compliance-and-identity-fundamentals.png" alt="Azure Security" width="150" height="150">
                <p>Security, Compliance, and Identity Fundamentals</p>
            </div>
            <div class='qualifications-element'>
                <img src="assets/azure-data-fundamentals.png" alt="Azure Data" width="150" height="150">
                <p>Azure Data Fundamentals</p>
            </div>
            <div class='qualifications-element'>
                <img src="assets/azure-ai-fundamentals.png" alt="Azure AI" width="150" height="150">
                <p>Azure AI Fundamentals</p>
            </div>
        </div>
    </div>
</body>

</html>