<!DOCTYPE html>
<html lang="en" class="sr">

<style>
html, body {height: 100%; margin: 0; padding: 0; font-family: arial;}
div {display: flex; align-items: end; justify-content: left;}
button {background-color: transparent; border: 1px solid; color: #e79fc4; cursor: pointer;}
.name {color: #e79fc4}
.content {height: 100%; margin-left: 2%;}
.title-div {height: 50%;}
</style>

<head>
    <title> Jake Fawcett | Platform Engineer </title>
</head>

<body>
    <section class="content">
        <div class="title-div">
            <h1>
            Hello, I'm <span class="name">Jake Fawcett</span>.
            <br />
            I'm a Azure Platform Engineer and Developer.
            </h1>
        </div>

        <div class="about-div">
            <button name="button">About me</button>
        </div>
    </section>
</body>

</html>